<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>	
<p>
	<strong>Reviews:</strong>
	<ul class="list-group">
	<% @user.reviews.each do |review| %>
		<li class="list-group-item"><%= review.review_body %></li>
		<% end %>	
	</ul>
	
	
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
