<br>
<%= link_to 'New Venue', new_venue_path %>
<div class ="row">
  <div class='col-md-3'> 
 <%= render 'search' %>
    <div class="resultcontainer">
      <% @venues.each do |venue| %>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="thumbnail">
            <img data-src="#" alt="">
            <div class="caption">
              <h3><%= venue.name %></h3>
              <ul>
                <li> <%= venue.free_wifi %></li>
                <li> <%= venue.charging %> </li>
                <li> <%= venue.website %> </li>
                <li> <%= venue.address %> </li>
                <li> <%= venue.address_line_2 %> </li>
                <li> <%= venue.postcode %> </li>
              </ul>
                <%= link_to "Go To Detail", venue_path(venue.id), class: "btn btn-default" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="col-md-9"><div class ='gmap'>
      <div id='gmapuniq'></div>
  </div>
  </div>
</div>
<script>
$(document).ready(function(){
  // var geocoder;
  handler = Gmaps.build('Google');
  geocoder = new google.maps.Geocoder();
  handler.buildMap({ provider: {}, internal: {id: 'gmapuniq'}}, function(){
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  console.log("something");
});


});
  // function codeAddress(){
  //   var geocoder
  //   geocoder = new google.maps.Geocoder();
  //   var address = document.getElementById('location-input').value;
  //   geocoder.geocode({'address': address}, function(results,status){
  //     if (status == google.maps.GeoCoderStatus.OK){
  //       handler.setCenter(results[0].geometry.location);
  //     } else {
  //       alert('geocode was not successful for the following reason'+ status)
  //     }

  //   });

  // };
  function codeAddress() {
    // var geocoder
    // geocoder = new google.maps.Geocoder();
    console.log(handler);
    // handler = Gmaps.build('Google');
    var address = document.getElementById('location-input').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        console.log(results);
        handler.getMap().setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: handler.getMap(),
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  function autoComplete(){
    var query = document.getElementById('location-input').value;
    geocoder.geocode({'address': query}, function(results, status){
      if (status == google.maps.GeocoderStatus.OK){
        choices = [];
        for (var i = results.length - 1; i >= 0; i--) {
          choices.push(results[i].formatted_address);
        };
        console.log(choices);
        trial = ["one","two","three"];
        console.log(trial);
        // completebox = document.getElementById("location-input");
        completebox = $('#location-input');
        // completebox.autocomplete("enable");
        completebox.autocomplete({source: choices});
        console.log('choices');      
        // completebox.autocomplete({source: trial});
      }
    })

  }

</script>
<!-- <h2><%= @hash %></h2> -->

