
<br>
<%= link_to 'New Venue', new_venue_path %>
<div class ="row">
  <div class='col-md-3'>
    <h3>Search for a wifi location near you</h3>
    <input type="search" name="location-search" id="location-input" class="form-control" value="" required="required" title="Find Places">
    <button type="button" class="btn btn-default" onclick="codeAddress()">Search</button>
    <h4><%= link_to 'New Venue', new_venue_path %></h4>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Free wifi</th>
          <th>Charging</th>
          <th>Website</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @venues.each do |venue| %>
          <tr>
            <td><%= venue.name %></td>
            <td><%= venue.free_wifi %></td>
            <td><%= venue.charging %></td>
            <td><%= venue.website %></td>
            <td><%= venue.latitude %></td>
            <td><%= venue.longitude %></td>
            <td><%= link_to 'Show', venue %></td>
            <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
            <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="col-md-"><div class ='gmap'>
      <div id='gmapuniq'></div>
  </div>
  </div>
</div>
<script>
$(document).ready(function(){
  // var geocoder;
  handler = Gmaps.build('Google');
  geocoder = new google.maps.Geocoder();
  handler.buildMap({ provider: {}, internal: {id: 'gmapuniq'}}, function(){
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  console.log("something");
});


});
  // function codeAddress(){
  //   var geocoder
  //   geocoder = new google.maps.Geocoder();
  //   var address = document.getElementById('location-input').value;
  //   geocoder.geocode({'address': address}, function(results,status){
  //     if (status == google.maps.GeoCoderStatus.OK){
  //       handler.setCenter(results[0].geometry.location);
  //     } else {
  //       alert('geocode was not successful for the following reason'+ status)
  //     }

  //   });

  // };
  function codeAddress() {
    // var geocoder
    // geocoder = new google.maps.Geocoder();
    console.log(handler);
    // handler = Gmaps.build('Google');
    var address = document.getElementById('location-input').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        console.log(results);
        handler.getMap().setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: handler.getMap(),
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

</script>
<!-- <h2><%= @hash %></h2> -->

