<p id="notice"><%= notice %></p>

<p>
  <strong>Venue:</strong>
  <%= @review.venue_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Review body:</strong>
  <%= @review.review_body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
